<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout(~{::title}, ~{::section})}">
<head>
    <title>Event Page</title>
</head>
<body>
<div class="flex-column" th:fragment="section">

    <h1 class="page-title">Event Page</h1>

    <!-- Read-only ID (to be removed in production)-->
    <p><strong>ID:</strong> <span th:text="${event.id}">ID</span></p>

    <!-- Event details (draft) -->

        <p><strong>Event name:</strong> <span th:text="${event.name}">Event</span></p>
        <p><strong>Date:</strong> <span th:text="${event.startDate}">Date</span></p>
        <p><strong>Time:</strong> <span th:text="${event.startTime}">Date</span></p>

    <a th:href="@{/event/{id}/attending(id=${event.id})}">Attending: </a> <span th:text="${event.attendees.size()}"> </span>

 <!--   <p><strong>Attendees:</strong> <span th:text="${event.attendees.size()}">0</span></p> -->


    <form th:action="@{/event/{id}/attend(id=${event.id})}" method="post">
        <button type="submit" class="btn">Attend Event</button>
    </form>

</div>
</body>
</html>

    <!--
    <img th:if="${event.image}"
         th:src="@{/user/{id}/profile-picture(id=${user.id})}"
         alt="Current Profile Picture"
         style="max-width: 200px; margin-top: 10px;"/>

    <p th:unless="${event.image}">No image available</p>
    -->
