<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout(~{::title}, ~{::section})}">
<head>
    <title>Events List</title>
</head>
<body>
<div class="flex-column" th:fragment="section">
    <div class="flex-row">
        <h1 class="page-title">Events List</h1>
        <th:block th:if="${session.loggedInUser != null}">
            <form th:action="@{/event/create}" method="get">
                <button style="margin-left: 20px;" type="submit">Create Event</button>
            </form>
            <form th:action="@{/event/search-event}" method="get">
                <button style="margin-left: 20px;" type="submit">Search Event</button>
            </form>

        </th:block>

    </div>

    <table>
        <thead>
        <tr>
            <th>Event Name</th>
            <th>Game</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Start Time</th>
            <th>End Time</th>

            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="event : ${events}">
            <td th:text="${event.getName()}">Event Name</td>
            <td th:text="${event.getGame().getName()}">Game</td>
            <td th:text="${event.getStartDate()}">Start Date</td>
            <td th:text="${event.getEndDate()}">End Date</td>
            <td th:text="${event.getStartTime()}">Start Time</td>
            <td th:text="${event.getEndTime()}">End Time</td>

            <th:block th:if="${session.loggedInUser}">

                <td>
                    <a th:href="@{/event/{id}(id=${event.id})}">View</a>
                    <!-- todo: only admin can edit or delete -->
                    <a th:href="@{/event/{id}/edit(id=${event.id})}">Edit</a>

                    <form th:action="@{/event/{id}/attend(id=${event.id})}" method="post">
                        <button type="submit" class="btn">Attend Event</button>
                    </form>

                </td>

            </th:block>

        </tr>
        </tbody>
    </table>
    <a href="javascript:history.back()" class="back-button">Go Back</a>
</div>
</body>
</html>
