<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout(~{::title}, ~{::section})}">
<head>
    <title>Event Page</title>
</head>
<body>
<div class="flex-column" th:fragment="section">

    <h1 class="page-title">Search Event</h1>

    <th:block th:if="${session.loggedInUser}">

        <!-- Search form -->
        <form class="flex-column" th:action="@{/event/search-results}" method="get">

            <div class="form-group">
                <label for="startDate"><strong>Search events between:</strong></label>
                <input type="date" id="startDate" name="startDate" th:value="*{startDate}" required/>
            </div>

            <div class="form-group">
                <label for="endDate"><strong>and:</strong></label>
                <input type="date" id="endDate" name="endDate" th:value="*{endDate}" required/>
            </div>

            <button type="submit" class="btn">Search Event</button>
        </form>

    </th:block>

</div>
</body>
</html>

