<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout(~{::title}, ~{::section})}">
<head>
    <title>Event Page</title>
</head>
<body>
<div class="flex-column" th:fragment="section">

    <h1 class="page-title">Search Event</h1>
    <div class="error-message" th:if="${error}" th:text="${error}"></div>


    <th:block th:if="${session.loggedInUser}">

        <!-- Search form -->
        <form class="flex-column" th:action="@{/event/search-results}" method="get">

            <div class="form-group">
                <label for="startDate"><strong>Search events between:</strong></label>
                <input type="date" id="startDate" name="startDate" th:value="*{startDate}"/>
            </div>

            <div class="form-group">
                <label for="endDate"><strong>and:</strong></label>
                <input type="date" id="endDate" name="endDate" th:value="*{endDate}"/>
            </div>

            <!-- Game Dropdown -->
            <label for="gameId">Game:</label>
            <select id="gameId" name="gameId">
                <option value="">-- Select a Game --</option>
                <option th:each="game : ${games}"
                        th:value="${game.id}"
                        th:text="${game.name}"
                        th:selected="${game.id == selectedGame?.id}">
                </option>
            </select>

            <button type="submit" class="btn">Search Event</button>
        </form>

    </th:block>

    <a href="javascript:history.back()" class="back-button">Go Back</a>

</div>
</body>
</html>

