<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout(~{::title}, ~{::section})}">
<head>
    <title>Add a game</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
    <script src="/js/main.js"></script>
</head>
<body>
<div class="flex-column" th:fragment="section">
    <h1 class="page-title">Add a new game:</h1>
    <form class="signup-form" method="post" th:action="@{/game/create}" th:object="${game}">
        <div>
            <label for="name">Name:</label>
            <input type="text" id="name" th:field="*{name}" required>
            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
        </div>
        <div>
            <label for="platform">Platform:</label>
            <input type="text" id="platform" th:field="*{platform}" required>
            <span th:if="${#fields.hasErrors('platform')}" th:errors="*{platform}"></span>
        </div>
        <div>
            <label for="levels">Skill levels:</label>
            <div id="levels">
                <input th:field="*{ranks[1]}" type="text" required>
                <input th:field="*{ranks[2]}" type="text" required>
                <input th:field="*{ranks[3]}" type="text" required>
            </div>
            </div>
        <div>
            <button type="submit">Add Game</button>
        </div>
    </form>S
</div>
</body>
</html>