<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout(~{::title}, ~{::section})}">
<head>
    <title>Games List</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
</head>
<body>
<div class="flex-column" th:fragment="section">
    <h1 class="page-title">Games</h1>

    <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 10px;">
        <div>
            <th:block th:if="${session.loggedInUser != null}">
                <form th:action="@{/game/create}" method="get" class="add-game-form">
                    <button type="submit" class="add-game-button">Add a game</button>
                </form>
            </th:block>
        </div>
    </div>


    <table>
        <thead>
        <tr>
            <th>Game Name</th>
            <th>Platform</th>
            <th>Skill Levels</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="game : ${games}">
            <td th:text="${game.name}">Game Name</td>
            <td th:text="${game.platform}">Platform</td>
            <td>
                <ul class="flex-row" style="align-content: space-evenly; gap: 1rem; margin: 0; padding: 0;">
                    <li style="margin: 0; padding: 0;" th:each="skill : ${game.ranks}" th:text="${skill.value}"></li>
                </ul>
            </td>

            <td>
                <a th:href="@{/game/{id}(id=${game.id})}">View</a>
                <th:block th:if="${session.loggedInUser != null}">
                    <a th:if="${#strings.equals(session.loggedInUser.id, game.admin.id)}" th:href="@{/game/{id}/edit(id=${game.id})}">Edit</a>
                </th:block>
            </td>

        </tr>
        </tbody>
    </table>

    <a href="javascript:history.back()" class="back-button">Go Back</a>

</div>
</body>
</html>
