<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout(~{::title}, ~{::section})}">
<head>
    <title>Games</title>
</head>

<body>
<div class="flex-column" th:fragment="section">

    <h1 class="page-title">COMING SOON!</h1>

</div>
</body>
</html>


<!--
    <h1 class="page-title">Events List</h1>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Game Name</th>
            <th>Platform</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="game : ${games}">
            <td th:text="${game.id}">ID</td>
            <td th:text="${game.name}">Game Name</td>
            <td th:text="${game.platform}">Platform</td>

        </tr>
        </tbody>
    </table>

</div>
</body>
</html>
-->