<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout(~{::title}, ~{::section})}">
<head>
    <title>User List</title>
</head>
<body>
<div class="flex-column" th:fragment="section">
    <h1 class="page-title">User List</h1>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.id}">ID</td>
            <td th:text="${user.username}">Username</td>
            <td th:text="${user.email}">Email</td>
            <td>
                <a th:href="@{/user/{id}(id=${user.id})}">View</a>

                <th:block th:if="${session.loggedInUser} != null">
                    <a th:if="${user.id == session.loggedInUser.id}"
                       th:href="@{/user/edit}">Edit</a>
                </th:block>
            </td>
        </tr>
        </tbody>
    </table>

</div>
</body>
</html>