<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout(~{::title}, ~{::section})}">
<head>
    <title>User Login</title>
    <link rel="stylesheet" type="text/css" href="/css/component-styles/login.css" />
</head>

<body>
<div class="flex-column" th:fragment="section">
    <h1 class="page-title">User Login</h1>
    <form class="login-form" method="post" th:action="@{/user/login}" th:object="${loginDTO}">
        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" th:field="*{username}" required>
            <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
        </div>

        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" th:field="*{password}" required>
            <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
        </div>
        <div>
            <button type="submit">Login</button>
        </div>
    </form>

    <div th:if="${error}" class="error-message">
        <p th:text="${error}"></p>
    </div>

</div>
</body>
</html>