<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout(~{::title}, ~{::section})}">
<head>
    <title>User Profile</title>
</head>
<body>
<div class="flex-column profile" th:fragment="section">

<h1 class="page-title">User Profile</h1>

        <p><strong>Username:</strong> <span th:text="${user.username}">Username</span></p>
        <p><strong>Email:</strong> <span th:text="${user.email}">Email</span></p>

        <!-- Profile Picture Display -->
        <div class="profile-picture-container" style="padding: 1rem">
            <img th:if="${user.profilePicture != null}"
                 th:src="@{'/user/' + ${user.id} + '/profile-picture'}"
                 alt="Profile Picture"
                 style="max-width: 300px; margin: 0 auto; padding: 1rem; display: flex; justify-content: center; align-items: center"/>

            <!-- Message when no picture exists -->
            <p th:unless="${user.profilePicture != null}">No profile picture available</p>

            <!-- Link to edit page -->
            <div style="text-align: center;" th:if="${session.loggedInUser.id == user.id}">
                <a th:href="@{/user/{id}/edit(id=${user.id})}">Edit Profile</a>
            </div>

        </div>

    <a href="/">Back to homepage</a>

    </div>
</body>
</html>