<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="layout(title, section)">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/favicon.svg">
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/component-styles/signup.css">

    <title th:replace="${title}">Skill-Share</title>
</head>

<body>

<header class="header">
 <!--   <th:block th:replace="${login}"></th:block> -->

    <div class="user-auth">
        <th:block th:if="${session.loggedInUser}">
            <span th:text="${'Welcome, ' + session.loggedInUser.username}"></span>
            <a href="/user/logout">Logout</a>
        </th:block>
        <th:block th:unless="${session.loggedInUser}">
            <a href="/user/login">Login</a>
            <a href="/user/signup">Sign Up</a>
        </th:block>
    </div>

    <div class="logo">
        <img src="/assets/logo-v1.svg" alt="Skill-Share logo" />
    </div>
</header>

<div class="flex-row">
    <nav class="navbar">
        <a href="event/list">Events</a>
        <a href="">Games</a>
        <a href="">Ranking</a>
        <a href="/user/list">User</a>
    </nav>
</div>

<main id="main">
    <th:block th:replace="${section}"></th:block>
</main>

<footer id="footerComponent"></footer>
</body>
</html>